/* GENERAL */

body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.invisible {
  display:none;
}

.not-shown {
  display:none;
}

.hide {
  visibility: hidden;
}

/* MAIN CONTAINER */

.main-container{
  display:flex;
  flex-direction:column;
}

/* TEXT CONTAINER */
.text-container{
  display:flex;
  flex-wrap: wrap;
}

/* Title container within Text container */
.title-container{
  width:50%;
  position:relative;
}

.title-container h1 {
  font-size: 5em;
  animation: bouncing 3s ease infinite;
  position:absolute; 
  padding-left:15%;
}

@keyframes bouncing {
  0% {
    margin-top: 100;
  }
  
  50% {
    margin-top: 0;
  }

  100% {
    margin-top: 100;
  }
}

/* User input container within Text container */

.user-input-container{
  width:50%;
  display:flex;
  justify-content: end;
  align-items: flex-end;
  text-align:end;
}

.user-input-container div {
  width: 50%;
}

.state-game{
  display:flex;
  flex-direction: column;
}

.state-game div {
  width:100%
}

.performance-container{
  display:flex;
  flex-direction: column;
  text-align: end;
  padding-right:15%;
}

.performance-container div {
  width:100%;
}

/* Message container within Text container */

.message-container{
  width:100%;
  text-align: center;
  font-size: 1.3em;
  margin: 2% 0;
}

/* CREATIVE-CONTAINER */

/* Canvas container within Creative container */
.canvas-container {
  display:flex;
  justify-content: center;
}

/* Clue container within Creative container */

.clue-img-container{
  display:flex;
  justify-content:center;
}

#clue, #other-game {
  cursor: help;
}

/* Lazy image container within Creative container */

.lazy-img-container {
  display:flex;
  justify-content: center;
}

/* FINAL MESSAGE CONTAINER */

.flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  height:500px;
  font-size: 3em;
}

.flex p {
  width: 100%;
}
