/* GENERAL */

body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.invisible {
  display:none;
}

.not-shown {
  display:none;
}

.hide {
  visibility: hidden;
}

button {
  margin: 5% 0%;
  width:100%;
  padding:5%;
  font-weight:bold;
}

/* MAIN CONTAINER */

.main-container{
  display:flex;
  flex-direction:column;
}

/* TEXT CONTAINER */
.text-container{
  display:flex;
  justify-content: center;
}

/* Title container within Text container */
.title-container{
  width:100%;
  height: 90px;;
  position:relative;
}

.title-container h1 {
  font-size: 3.5em;
  width: 100%;
  animation: bouncing 3s ease infinite;
  position:absolute; 
  text-align:center;
}

@keyframes bouncing {
  0% {
    margin-top: 100;
  }
  
  50% {
    margin-top: 0;
  }

  100% {
    margin-top: 100;
  }
}

/* User input container within Text container */

.user-input-container{
  padding:0 10%;
  display:flex;
  justify-content: center;
  text-align:center;
}

.user-input-container > div {
  width: 50%;
}

.state-game {
  width:100%;
  display:flex;
  align-items:center;
}

.state-game > div {
  padding: 0 3%
}

.games-container {
  font-weight: bold;
}

.performance-container{
  display:flex;
  text-align: center;
  align-items:center;
  justify-content: flex-end
}

.performance-container > div {
  padding: 0 3%
}

.heart-beat {
  animation: beat 0.8s infinite alternate;
	transform-origin: center;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Message container within Text container */

.message-container{
  width:100%;
  text-align: center;
  font-size: 1.3em;
}


/* CREATIVE-CONTAINER */

/* Canvas container within Creative container */
.canvas-container {
  display:flex;
  justify-content: center;
  padding: 1% 0;
}

/* Clue container within Creative container */

.clue-img-container{
  display:flex;
  justify-content:center;
}

#clue, #other-game {
  cursor: help;
}

/* Lazy image container within Creative container */

.lazy-img-container {
  display:flex;
  justify-content: center;
}

/* FINAL MESSAGE CONTAINER */

.flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  height:500px;
  font-size: 3em;
}

.flex p {
  width: 100%;
}
